[Unit]
# Before=systemd-user-sessions.service
Description=Auto-Update image on boot.
ConditionPathExists=/run/ostree-booted
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc update --quiet
