[Unit]
Description=Auto-Update image on shutdown.
# Stellt sicher, dass dieser Dienst vor dem Aushängen der Dateisysteme (shutdown.target) läuft.
# und vor dem eigentlichen Ausschalten (final.target).
Before=shutdown.target final.target umount.target
# Stellt sicher, dass der Dienst nach dem Netzwerk verfügbar ist, falls er es benötigt.
After=network-online.target

[Service]
Type=oneshot
ExecStop=/usr/bin/bootc update --quiet --apply
RemainAfterExit=yes

[Install]
WantedBy=reboot.target halt.target shutdown.target